@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes moveLine {
    0% {
        top: 0;
    }

    50% {
        top: 100%;
    }

    100% {
        top: 0;
    }
}

.animate-line {
    animation: moveLine 4s linear infinite;
}